body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://t3.ftcdn.net/jpg/02/17/56/58/360_F_217565806_43ACZF66SkiLyvuqggryX2vZ5nVDuc0p.jpg');
    background-size: 100vw 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 475px;
    border-radius: 5px;
    background-color: black;
}

h1 {
    font-size: 48px;
    font-family: monospace;
    color: white;
}

textarea {
    height: 47%;
    width: 98%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3px;
}

button {
    width: 100px;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
}

p {
    color: white;
    font-family: monospace;
    font-size: 24px;
}